.featured-projects-div {
    /* width: 100%; */
    /* text-align: center; */
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.featured-projects-div img {
    border-radius: 2%;
        box-shadow: 10px 0 10px -10px #2c1d31, -10px 0 10px -10px #2c1d31;
    margin: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
}

.featured-projects-div div {
    background-color: rgba(92, 81, 109, 0.25);
    box-shadow: 10px 0 10px -10px #2c1d31, -10px 0 10px -10px #2c1d31;
    border-radius: 2%;
    width: 20%;
    float: left;
    padding: 5px;
    margin: 15px;
    box-sizing: border-box;
}

p {
    text-align: center;
}

