body {
  background-image: url("/img/white-brick-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  color: rgb(51, 44, 63);
}

.upper-left-section {
  width: 45%;
  height: 80vh;
  float: left;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.name-div {
  border: 2px solid black;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
}

.about-me-div {
  background-color: rgba(92, 81, 109, 0.25);
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  width: 100%;
display: block;
box-sizing: border-box;
}

.upper-right-section {
  width: 45%;
  height: 80vh;
  margin-bottom: 10px;
  float: right;
}

.headshot-div {
  background-color: rgba(92, 81, 109, 0.25);
  border-radius:5%;
  margin: auto;
  width: 40%;
  display: block;
  box-sizing: border-box;
}

#headshot {
  border-radius: 46%;
  opacity: 90%;
  margin: auto;
  width: 100%;
  display: block;
}

.contact-links-div {
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
}

.contact-links-div img {
  width: 10%;
}

.contact-links-div p {
  text-align: center;
  font-weight: bold;
}

.resume-div {
  border: 2px solid black;
  border-radius: 1%;
  width: 100%;
}

.bottom-section {
  width: 100%;
    box-sizing: border-box;
}

.featured-projects-div {
  width: 100%;
  text-align: center;
  list-style-position: inside;
}

.featured-projects-div img {
  border-radius: 2%;
  margin: auto;
  width: 80%;
  display: block;
  box-sizing: border-box;
}

.featured-projects-div div {
  border: 2px black solid;
  border-radius: 2%;
  width: 20%;
  float: left;
}

.bold {
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

.opacity:hover {
  transform: scale(1.2);
}