body {
  background-image: url("/img/white-brick-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  color: rgb(51, 44, 63);
}

.upper-left-section {
  width: 45%;
  height: 80vh;
  float: left;
}

.name-div {
  border: 2px solid black;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 5px;
  box-sizing: content-box;
  /* float: left; */
}

.about-me-div {
  background-color: rgba(92, 81, 109, 0.25);
  float: left;
  width: 100%;
  /* center in its parent div */
}

.upper-right-section {
  width: 45%;
  height: 80vh;
  background-color: rgba(92, 81, 109, 0.25);
  float: right;
}

.media-div {
  width: 100%;
  box-sizing: content-box;
  /* center in upper div */
  /* float: right; */
}

.media-div img {
  /* width: ; */
  border-radius: 10%;
  /* center in media div */
}

#headshot {
  width: 20%;
  border-radius: 46%;
  opacity: 90%;
}

.contact-links-div {
  padding: 2px;
  width: 100%;
  box-sizing: content-box;
}

.contact-links-div img {
  width: 10%;
  /* add padding and center in its div */
}

.contact-links-div p {
  text-align: center;
  font-weight: bold;
}

/* stack headshot and contact links ontop of eachother? */

.resume-div {
  border: 2px solid black;
  border-radius: 1%;
  width: 100%;
}

.bottom-section {
  width: 100%;
  box-sizing: content-box;
}

.featured-projects-div {
  width: 100%;
}

.featured-projects-div img {
  border-radius: 2%;
  width: 25%;
  width: 95%;
  box-sizing: content-box;
}

/* need to make the pics with their title and the info into divs too */
.featured-projects-div div {
  border: 2px black solid;
  border-radius: 2%;
  width: 20%;
  float: left;
}

.bold {
  font-weight: bold;
}

.centered-text {
  text-align: center;
}

.opacity:hover {
transform: scale(1.2); 
}