body {
    background-image: url("/img/white-brick-background.jpg");
    background-repeat: no-repeat;
    width: 100%;
    color: rgb(51, 44, 63);
}

.upper-left-section {
  margin-left: 20px;
    width: 45%;
    float: left;
    box-sizing: border-box;
}

.name-div {
    border: 2px solid black;
    border-radius: 1%;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    box-sizing: border-box;
}

.about-me-div {
    background-color: rgba(92, 81, 109, 0.25);
    border-radius: 1%;
    box-shadow: 10px 0 10px -10px #2c1d31, -10px 0 10px -10px #2c1d31;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 5px;
    margin: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.upper-right-section {
    width: 45%;
    float: right;
    box-sizing: border-box;
}

.headshot-div {
    padding: 5px;
    margin: auto;
    width: 40%;
    display: block;
    box-sizing: border-box;
}

#headshot {
    box-shadow: 10px 0 10px -10px #2c1d31, -10px 0 10px -10px #2c1d31;
    opacity: 90%;
    margin: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.contact-links-div {
    /* padding: 2px; */
    /* margin: auto;
    width: 100%;
    display: block;
    box-sizing: border-box; */
    padding-top: 0px;
    display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contact-links-div img {
    width: 40px;
    margin: 10px;
}

.resume-div {
    background-color: rgba(92, 81, 109, 0.25);
    box-shadow: 10px 0 10px -10px #2c1d31, -10px 0 10px -10px #2c1d31;
    border-radius: 1%;
    padding: 5px;
    margin: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 100%; */
}

.bottom-section {
  text-align: center;
    float: right;
    margin: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.featured-projects-div {
    width: 100%;
    text-align: center;
    list-style-position: inside;
}

.featured-projects-div img {
    border-radius: 2%;
    margin: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
}

.featured-projects-div div {
    border: 2px black solid;
    border-radius: 2%;
    width: 20%;
    float: left;
}

.bold {
    font-weight: bold;
}

.centered-text {
    text-align: center;
    font-weight: bold;
}

.opacity:hover {
    transform: scale(1.2);
}

.project-page-link a {
    text-decoration: none;
}
